-e git+https://ahubl@bitbucket.addsrv.com/scm/techops/status_page.git@e8fd5129155cd5d18e8ade607afdbc54af3a6ccf#egg=mz_sample
awesome-slugify
falcon
falcon-auth
gunicorn
httpie
pip-tools
pytest
pytest-cov
pytest-sugar
pytz
SQLAlchemy
